.table td {
        text-align: center;   
}

.alignrow {
        font-size: 0;
}
.alignrow > * {
        float: none;
        display: inline-block;
        font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}
.alignrow > *:last-child {
        vertical-align: bottom;
        margin-bottom: 1em;
}

.bit-id {
        vertical-align: top;
}