---
layout: default
---
<div class="about">
      <div id="name-section" class="row section">
        <div class="col-sm-1 section-title"></div>
        <div class="col-sm-11 section-content">
          <h2>Scott Hendrickson</h2>
          &nbsp;<a href="mailto:shendrickso2@wisc.edu">shendrickso2@wisc.edu</a>
        </div>
      <div id="contact" class="row section">
        <div class="col-sm-3 section-title">
        </div>
        <div class="col-sm-9 section-content">
        </div> 
      </div>
      <br>
      <div id="education" class="row section">
        <div class="col-sm-3 section-title">
          Education
        </div> 
        <div class="col-sm-9 section-content-title"> 
          University of Wisconsin - Madison
        </div> 
        <br>
        <br>
        <div class="col-sm-3">
        </div> 
        <div class="col-sm-9 section-content"> 
          B.S. Computer Engineering & Computer Science
        </div>
      </div>
      <br>
      <br>
      <div id="experience" class="row section">
        <div class="col-sm-3 section-title">
          Experience
        </div> 
        <div class="col-sm-9"> 
          <span class="section-content-title">Qualcomm</span>
          &nbsp;&nbsp;&nbsp;&nbsp;San Diego CA
        </div> 
        <br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9 section-content"> 
          Software Engineering Intern 
          <p>
        </div>
        <br>
        <br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9"> 
          <span class="section-content-title">Spectrom 3D</span>
          &nbsp;&nbsp;&nbsp;&nbsp;Madison WI
        </div> 
        <br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9 section-content"> 
          Software Engineer
        </div>
        <br><br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9"> 
          <span class="section-content-title">Intuit</span>
          &nbsp;&nbsp;&nbsp;&nbsp;Plano TX
        </div> 
        <br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9 section-content"> 
          Software Engineering Intern
        </div>
      </div>
      <br>
      <br>
      <div id="tech" class="row section">
        <div class="col-sm-3 section-title">
          Tech
        </div> 
        <div class="col-sm-9 section-content-title"> 
          Prefered Languages
        </div> 
        <br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9 section-content"> 
          &nbsp; C &nbsp; Java
        </div>
        <br>
        <br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9 section-content-title"> 
          Languages Used
        </div> 
        <br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9 section-content"> 
          &nbsp; Go &nbsp; Javascript &nbsp; Html &nbsp; CSS &nbsp; C++ &nbsp; Verilog
        </div>
        <br><br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9 section-content-title"> 
          Tools & Frameworks
        </div> 
        <br>
        <div class="col-sm-3"></div> 
        <div class="col-sm-9 section-content"> 
          &nbsp; docker &nbsp; ag &nbsp; vim &nbsp; spring
        </div>
      </div>
      <br>
</div>
